#discInputBox,
#speedInputBox,
#stabilityInputBox,
#inputSubmitButton,
.info-cell {
  margin: 8px;
}

.info-cell {
  width: 10rem;
  text-align: center;
  font-size: 18px;
}

#delete-button {
  margin-right: 0.5rem;
}

.mode-buttons {
  font-size: 12px;
}
